In [55]:
import pandas as pd

In [56]:
dicionário_cientistas = {
    'NOME': ['Albert Einstein', 'Isaac Neewton', 'Marie Curie', 'Richard Feynman', 'Maria Goeppert-Mayer'],
    'DATA_NASCIMENTO': ['14/03/1879', '04/01/1643', '07/11/1867', '11/05/1918', '28/06/1906'],
    'SEXO': ['Masculino', 'Masculino', 'Feminino', 'Masculino', 'Feminino']
}

In [57]:
print(f'IMPORTANTE! Vejam, o nosso dicionário_cientistas, realmente é um: {type(dicionário_cientistas)}')

IMPORTANTE! Vejam, o nosso dicionário_cientistas, realmente é um: <class 'dict'>

In [58]:
#convertendo
df_cientistas = pd.DataFrame(dicionário_cientistas)
df_cientistas

                   NOME DATA_NASCIMENTO       SEXO
0       Albert Einstein      14/03/1879  Masculino
1         Isaac Neewton      04/01/1643  Masculino
2           Marie Curie      07/11/1867   Feminino
3       Richard Feynman      11/05/1918  Masculino
4  Maria Goeppert-Mayer      28/06/1906   Feminino

In [59]:
type(df_cientistas)

pandas.core.frame.DataFrame

In [60]:
#após a utilizaçao da função DataFrame

In [61]:
#agora um modelo de conversão no ato da criação do conjunto de dados via dicionário.

novo_df_cientistas = pd.DataFrame(
    {
     'Nome': ['Albert Einstein', 'Isaac Neewton', 'Marie Curie', 'Richard Feynman', 'Maria Goeppert-Mayer'],
     'DATA_NASCIMENTO': ['14/03/1879', '04/01/1643', '07/11/1867', '11/05/1918', '28/06/1906'],
     'SEXO': ['Masculino', 'Masculino', 'Feminino', 'Masculino', 'Feminino']
    }
)

In [62]:
type(novo_df_cientistas)

pandas.core.frame.DataFrame

In [63]:
novo_df_cientistas

                   Nome DATA_NASCIMENTO       SEXO
0       Albert Einstein      14/03/1879  Masculino
1         Isaac Neewton      04/01/1643  Masculino
2           Marie Curie      07/11/1867   Feminino
3       Richard Feynman      11/05/1918  Masculino
4  Maria Goeppert-Mayer      28/06/1906   Feminino

In [64]:
#para carregar o arquivo é pd.read_csv()
#para salvar o arquivo é pd.to_csv()
#lembrete, quando for salvar, não precisa necessariamente manter o csv, pode ser excel, json, html, etc

In [65]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [66]:
df_dados = pd.read_csv('/content/drive/MyDrive/operacoes-financiamento-operacoes-indiretas-automaticas.csv', sep=';', error_bad_lines=False)

/usr/local/lib/python3.7/dist-packages/IPython/core/interactiveshell.py:3326: FutureWarning: The error_bad_lines argument has been deprecated and will be removed in a future version.


  exec(code_obj, self.user_global_ns, self.user_ns)

In [67]:
df_dados.head()

,cliente,cpf_cnpj,uf,municipio,municipio_codigo,data_da_contratacao,valor_da_operacao_em_reais,valor_desembolsado_reais,fonte_de_recurso_desembolsos,custo_financeiro,...,subsetor_cnae_agrupado,subsetor_cnae_codigo,subsetor_cnae_nome,setor_bndes,subsetor_bndes,porte_do_cliente,natureza_do_cliente,instituicao_financeira_credenciada,cnpj_do_agente_financeiro,situacao_da_operacao
0,CISAM SILOS E ARMAZENS LTDA,**.*45.954/0001-**,RS,SANTA CRUZ DO SUL,4316808,2002-01-02,3274614,"3274614,0",RECURSOS LIVRES - ORGANISMOS,TJLP,...,Transporte terrestre,H4900000,TRANSPORTE TERRESTRE,INFRA-ESTRUTURA,OUTROS TRANSPORTES,PEQUENA,PRIVADA,BANCO ITAUBANK S.A,60.394.079.0001-04,LIQUIDADA
1,BANCO REGIONAL DE DESENVOLVIMENTO DO EXTREMO SUL,**.*16.560/0001-**,RS,RELVADO,4315453,2002-01-02,15000,"15000,0",RECURSOS VINCULADOS - FAT DEPÓSITOS ESPECIAIS,TAXA FIXA,...,Agropecuária,A0100000,"AGRICULTURA, PECUARIA E SERVICOS RELACIONADOS",AGROPECUÁRIA,AGROPECUÁRIA,MICRO,PRIVADA,BANCO REGIONAL DE DESENVOLVIMENTO DO EXTREMO SUL,92.816.560.0001-37,LIQUIDADA
2,BANCO REGIONAL DE DESENVOLVIMENTO DO EXTREMO SUL,**.*16.560/0001-**,RS,ENTRE-IJUIS,4306932,2002-01-02,2975,"2975,0",RECURSOS VINCULADOS - FAT DEPÓSITOS ESPECIAIS,TAXA FIXA,...,Agropecuária,A0100000,"AGRICULTURA, PECUARIA E SERVICOS RELACIONADOS",AGROPECUÁRIA,AGROPECUÁRIA,MICRO,PRIVADA,BANCO REGIONAL DE DESENVOLVIMENTO DO EXTREMO SUL,92.816.560.0001-37,LIQUIDADA
3,BANCO REGIONAL DE DESENVOLVIMENTO DO EXTREMO SUL,**.*16.560/0001-**,RS,MONTE BELO DO SUL,4312385,2002-01-02,15000,"15000,0",RECURSOS VINCULADOS - FAT DEPÓSITOS ESPECIAIS,TAXA FIXA,...,Agropecuária,A0100000,"AGRICULTURA, PECUARIA E SERVICOS RELACIONADOS",AGROPECUÁRIA,AGROPECUÁRIA,MICRO,PRIVADA,BANCO REGIONAL DE DESENVOLVIMENTO DO EXTREMO SUL,92.816.560.0001-37,LIQUIDADA
4,BANCO REGIONAL DE DESENVOLVIMENTO DO EXTREMO SUL,**.*16.560/0001-**,RS,NOVO BARREIRO,4313490,2002-01-02,7000,"7000,0",RECURSOS VINCULADOS - FAT DEPÓSITOS ESPECIAIS,TAXA FIXA,...,Agropecuária,A0100000,"AGRICULTURA, PECUARIA E SERVICOS RELACIONADOS",AGROPECUÁRIA,AGROPECUÁRIA,MICRO,PRIVADA,BANCO REGIONAL DE DESENVOLVIMENTO DO EXTREMO SUL,92.816.560.0001-37,LIQUIDADA

In [68]:
df_dados.tail()

,cliente,cpf_cnpj,uf,municipio,municipio_codigo,data_da_contratacao,valor_da_operacao_em_reais,valor_desembolsado_reais,fonte_de_recurso_desembolsos,custo_financeiro,...,subsetor_cnae_agrupado,subsetor_cnae_codigo,subsetor_cnae_nome,setor_bndes,subsetor_bndes,porte_do_cliente,natureza_do_cliente,instituicao_financeira_credenciada,cnpj_do_agente_financeiro,situacao_da_operacao
2127440,FORTUCE & FORTUCE LTDA,**.*09.957/0001-**,MG,MIRAI,3142205,2022-06-30,1320000,NaN,-,TAXA FIXA,...,Borracha e plástico,C2222600,FABRICACAO DE EMBALAGENS DE MATERIAL PLASTICO,INDUSTRIA,OUTRAS,MÉDIA,PRIVADA,BANCO BRADESCO S.A.,60.746.948.0001-12,ATIVA
2127441,FRANCA & REMONATO LTDA,**.*40.611/0001-**,PR,DIAMANTE DO SUL,4107124,2022-06-30,50000,NaN,-,TAXA FIXA,...,Comércio,G4771702,"COM VAREJ DE PRODUTOS FARMACEUTICOS, COM MANIP...",COMERCIO/SERVICOS,COMÉRCIO E SERVIÇOS,PEQUENA,PRIVADA,COOPERATIVA CENTRAL DE CREDITO COM INTERACAO S...,01.401.771.0001-53,ATIVA
2127442,FRATUS & FRATUS TRANSPORTES LTDA - ME,**.*99.122/0001-**,PR,MARIALVA,4114807,2022-06-30,298910,NaN,-,TAXA FIXA,...,Transporte terrestre,H4930202,TRANSP ROD CARGA EXC PROD PERIG MUDANCA INTER-...,INFRA-ESTRUTURA,TRANSPORTE RODOVIÁRIO,MÉDIA,PRIVADA,BANCO RANDON S/A,11.476.673.0001-39,ATIVA
2127443,GENESIS BUS AGENCIA DE VIAGENS E TURISMO LTDA,**.*41.564/0001-**,MT,CUIABA,5103403,2022-06-30,656000,NaN,-,TAXA FIXA,...,Transporte terrestre,H4922101,TRANSP RODOV COL PASSAG C/ITINERARIO FXO INTER...,INFRA-ESTRUTURA,TRANSPORTE RODOVIÁRIO,MÉDIA,PRIVADA,SCANIA BANCO S.A.,11.417.016.0001-10,ATIVA
2127444,WILSON LUIZ BONALUME,**.*35.517/0001-**,RS,CAXIAS DO SUL,4305108,2022-06-30,30000,NaN,-,SELIC,...,Alojamento e alimentação,I5611203,"LANCHONETES, CASAS DE CHA, DE SUCOS E SIMILARES",COMERCIO/SERVICOS,COMÉRCIO E SERVIÇOS,MICRO,PRIVADA,BADESUL DESENVOLVIMENTO S.A. - AGENCIA DE FOME...,02.885.855.0001-72,ATIVA

In [69]:
df_dados.shape

(2127445, 30)

In [70]:
#analisando as informações gerais das colunas numéricas.
df_dados.describe()

,municipio_codigo,valor_da_operacao_em_reais,prazo_carencia_meses,prazo_amortizacao_meses
count,2.127445e+06,2.127445e+06,2.127445e+06,2.127445e+06
mean,3.669029e+06,2.782193e+05,6.274360e+00,5.379727e+01
std,8.371377e+05,1.670766e+06,6.894235e+00,1.870202e+01
min,0.000000e+00,8.000000e+00,0.000000e+00,0.000000e+00
25%,3.168002e+06,4.130000e+04,3.000000e+00,4.500000e+01
50%,3.550308e+06,1.128680e+05,3.000000e+00,5.400000e+01
75%,4.214607e+06,2.360000e+05,6.000000e+00,5.700000e+01
max,9.999999e+06,1.000000e+09,1.200000e+02,3.600000e+02

In [71]:
serie_municipio = df_dados['municipio']
serie_municipio

0          SANTA CRUZ DO SUL
1                    RELVADO
2                ENTRE-IJUIS
3          MONTE BELO DO SUL
4              NOVO BARREIRO
                 ...
2127440                MIRAI
2127441      DIAMANTE DO SUL
2127442             MARIALVA
2127443               CUIABA
2127444        CAXIAS DO SUL
Name: municipio, Length: 2127445, dtype: object

In [72]:
#pelo fato de ser apenas uma coluna, a apresentação dos dados é feita não e forma de tabela(dataframe) mas de série.

In [73]:
type(serie_municipio)

pandas.core.series.Series

In [74]:
#Aqui um ponto importante, se tiver só um colchete para duas séries, vai dar erro, precisa de dois colchetes
#outra info, se forem mais de duas colunas selecionadas, ainda permanece dois colchetes
df_municipio_uf = df_dados[['municipio', 'uf']]
df_municipio_uf

                 municipio   uf
0        SANTA CRUZ DO SUL   RS
1                  RELVADO   RS
2              ENTRE-IJUIS   RS
3        MONTE BELO DO SUL   RS
4            NOVO BARREIRO   RS
...                    ...  ...
2127440              MIRAI   MG
2127441    DIAMANTE DO SUL   PR
2127442           MARIALVA   PR
2127443             CUIABA   MT
2127444      CAXIAS DO SUL   RS

[2127445 rows x 2 columns]

In [75]:
type(df_municipio_uf)

pandas.core.frame.DataFrame

In [76]:
df_dados.loc[0]

cliente                                       CISAM SILOS E ARMAZENS LTDA
cpf_cnpj                                               **.*45.954/0001-**
uf                                                                     RS
municipio                                               SANTA CRUZ DO SUL
municipio_codigo                                                  4316808
data_da_contratacao                                            2002-01-02
valor_da_operacao_em_reais                                        3274614
valor_desembolsado_reais                                        3274614,0
fonte_de_recurso_desembolsos                 RECURSOS LIVRES - ORGANISMOS
custo_financeiro                                                     TJLP
juros                                                                 6,0
prazo_carencia_meses                                                    6
prazo_amortizacao_meses                                                54
modalidade_de_apoio                                          REEMBOLSÁVEL
forma_de_apoio                                                   INDIRETA
produto                                                  BNDES AUTOMÁTICO
instrumento_financeiro                                             OUTROS
inovacao                                                              NÃO
area_operacional                      AREA DE OPERACOES E CANAIS DIGITAIS
setor_cnae                                            COMERCIO E SERVICOS
subsetor_cnae_agrupado                               Transporte terrestre
subsetor_cnae_codigo                                             H4900000
subsetor_cnae_nome                                   TRANSPORTE TERRESTRE
setor_bndes                                               INFRA-ESTRUTURA
subsetor_bndes                                         OUTROS TRANSPORTES
porte_do_cliente                                                  PEQUENA
natureza_do_cliente                                               PRIVADA
instituicao_financeira_credenciada                     BANCO ITAUBANK S.A
cnpj_do_agente_financeiro                              60.394.079.0001-04
situacao_da_operacao                                            LIQUIDADA
Name: 0, dtype: object

In [77]:
#formato de serie, pois filtrou apenas uma linha

In [78]:
#dá para fazer o fatiamento de linhas
df_dados[0:10]

,cliente,cpf_cnpj,uf,municipio,municipio_codigo,data_da_contratacao,valor_da_operacao_em_reais,valor_desembolsado_reais,fonte_de_recurso_desembolsos,custo_financeiro,...,subsetor_cnae_agrupado,subsetor_cnae_codigo,subsetor_cnae_nome,setor_bndes,subsetor_bndes,porte_do_cliente,natureza_do_cliente,instituicao_financeira_credenciada,cnpj_do_agente_financeiro,situacao_da_operacao
0,CISAM SILOS E ARMAZENS LTDA,**.*45.954/0001-**,RS,SANTA CRUZ DO SUL,4316808,2002-01-02,3274614,"3274614,0",RECURSOS LIVRES - ORGANISMOS,TJLP,...,Transporte terrestre,H4900000,TRANSPORTE TERRESTRE,INFRA-ESTRUTURA,OUTROS TRANSPORTES,PEQUENA,PRIVADA,BANCO ITAUBANK S.A,60.394.079.0001-04,LIQUIDADA
1,BANCO REGIONAL DE DESENVOLVIMENTO DO EXTREMO SUL,**.*16.560/0001-**,RS,RELVADO,4315453,2002-01-02,15000,"15000,0",RECURSOS VINCULADOS - FAT DEPÓSITOS ESPECIAIS,TAXA FIXA,...,Agropecuária,A0100000,"AGRICULTURA, PECUARIA E SERVICOS RELACIONADOS",AGROPECUÁRIA,AGROPECUÁRIA,MICRO,PRIVADA,BANCO REGIONAL DE DESENVOLVIMENTO DO EXTREMO SUL,92.816.560.0001-37,LIQUIDADA
2,BANCO REGIONAL DE DESENVOLVIMENTO DO EXTREMO SUL,**.*16.560/0001-**,RS,ENTRE-IJUIS,4306932,2002-01-02,2975,"2975,0",RECURSOS VINCULADOS - FAT DEPÓSITOS ESPECIAIS,TAXA FIXA,...,Agropecuária,A0100000,"AGRICULTURA, PECUARIA E SERVICOS RELACIONADOS",AGROPECUÁRIA,AGROPECUÁRIA,MICRO,PRIVADA,BANCO REGIONAL DE DESENVOLVIMENTO DO EXTREMO SUL,92.816.560.0001-37,LIQUIDADA
3,BANCO REGIONAL DE DESENVOLVIMENTO DO EXTREMO SUL,**.*16.560/0001-**,RS,MONTE BELO DO SUL,4312385,2002-01-02,15000,"15000,0",RECURSOS VINCULADOS - FAT DEPÓSITOS ESPECIAIS,TAXA FIXA,...,Agropecuária,A0100000,"AGRICULTURA, PECUARIA E SERVICOS RELACIONADOS",AGROPECUÁRIA,AGROPECUÁRIA,MICRO,PRIVADA,BANCO REGIONAL DE DESENVOLVIMENTO DO EXTREMO SUL,92.816.560.0001-37,LIQUIDADA
4,BANCO REGIONAL DE DESENVOLVIMENTO DO EXTREMO SUL,**.*16.560/0001-**,RS,NOVO BARREIRO,4313490,2002-01-02,7000,"7000,0",RECURSOS VINCULADOS - FAT DEPÓSITOS ESPECIAIS,TAXA FIXA,...,Agropecuária,A0100000,"AGRICULTURA, PECUARIA E SERVICOS RELACIONADOS",AGROPECUÁRIA,AGROPECUÁRIA,MICRO,PRIVADA,BANCO REGIONAL DE DESENVOLVIMENTO DO EXTREMO SUL,92.816.560.0001-37,LIQUIDADA
5,BANCO REGIONAL DE DESENVOLVIMENTO DO EXTREMO SUL,**.*16.560/0001-**,RS,SANTO ANGELO,4317509,2002-01-02,1582,"1582,0",RECURSOS VINCULADOS - FAT DEPÓSITOS ESPECIAIS,TAXA FIXA,...,Agropecuária,A0100000,"AGRICULTURA, PECUARIA E SERVICOS RELACIONADOS",AGROPECUÁRIA,AGROPECUÁRIA,MICRO,PRIVADA,BANCO REGIONAL DE DESENVOLVIMENTO DO EXTREMO SUL,92.816.560.0001-37,LIQUIDADA
6,BANCO REGIONAL DE DESENVOLVIMENTO DO EXTREMO SUL,**.*16.560/0001-**,RS,TAQUARUCU DO SUL,4321329,2002-01-02,1500,"1500,0",RECURSOS VINCULADOS - FAT DEPÓSITOS ESPECIAIS,TAXA FIXA,...,Agropecuária,A0100000,"AGRICULTURA, PECUARIA E SERVICOS RELACIONADOS",AGROPECUÁRIA,AGROPECUÁRIA,MICRO,PRIVADA,BANCO REGIONAL DE DESENVOLVIMENTO DO EXTREMO SUL,92.816.560.0001-37,ATIVA
7,BANCO REGIONAL DE DESENVOLVIMENTO DO EXTREMO SUL,**.*16.560/0001-**,RS,TAQUARUCU DO SUL,4321329,2002-01-02,1500,"1500,0",RECURSOS VINCULADOS - FAT DEPÓSITOS ESPECIAIS,TAXA FIXA,...,Agropecuária,A0100000,"AGRICULTURA, PECUARIA E SERVICOS RELACIONADOS",AGROPECUÁRIA,AGROPECUÁRIA,MICRO,PRIVADA,BANCO REGIONAL DE DESENVOLVIMENTO DO EXTREMO SUL,92.816.560.0001-37,ATIVA
8,BANCO REGIONAL DE DESENVOLVIMENTO DO EXTREMO SUL,**.*16.560/0001-**,RS,TAQUARUCU DO SUL,4321329,2002-01-02,1500,"1500,0",RECURSOS VINCULADOS - FAT DEPÓSITOS ESPECIAIS,TAXA FIXA,...,Agropecuária,A0100000,"AGRICULTURA, PECUARIA E SERVICOS RELACIONADOS",AGROPECUÁRIA,AGROPECUÁRIA,MICRO,PRIVADA,BANCO REGIONAL DE DESENVOLVIMENTO DO EXTREMO SUL,92.816.560.0001-37,ATIVA
9,BANCO REGIONAL DE DESENVOLVIMENTO DO EXTREMO SUL,**.*16.560/0001-**,RS,TRES DE MAIO,4321808,2002-01-02,8047,"8047,0",RECURSOS VINCULADOS - FAT DEPÓSITOS ESPECIAIS,TAXA FIXA,...,Agropecuária,A0100000,"AGRICULTURA, PECUARIA E SERVICOS RELACIONADOS",AGROPECUÁRIA,AGROPECUÁRIA,MICRO,PRIVADA,BANCO REGIONAL DE DESENVOLVIMENTO DO EXTREMO SUL,92.816.560.0001-37,LIQUIDADA

In [79]:
#mostrando apenas linhas pares de 0 a 10
df_dados[0:10:2]

,cliente,cpf_cnpj,uf,municipio,municipio_codigo,data_da_contratacao,valor_da_operacao_em_reais,valor_desembolsado_reais,fonte_de_recurso_desembolsos,custo_financeiro,...,subsetor_cnae_agrupado,subsetor_cnae_codigo,subsetor_cnae_nome,setor_bndes,subsetor_bndes,porte_do_cliente,natureza_do_cliente,instituicao_financeira_credenciada,cnpj_do_agente_financeiro,situacao_da_operacao
0,CISAM SILOS E ARMAZENS LTDA,**.*45.954/0001-**,RS,SANTA CRUZ DO SUL,4316808,2002-01-02,3274614,"3274614,0",RECURSOS LIVRES - ORGANISMOS,TJLP,...,Transporte terrestre,H4900000,TRANSPORTE TERRESTRE,INFRA-ESTRUTURA,OUTROS TRANSPORTES,PEQUENA,PRIVADA,BANCO ITAUBANK S.A,60.394.079.0001-04,LIQUIDADA
2,BANCO REGIONAL DE DESENVOLVIMENTO DO EXTREMO SUL,**.*16.560/0001-**,RS,ENTRE-IJUIS,4306932,2002-01-02,2975,"2975,0",RECURSOS VINCULADOS - FAT DEPÓSITOS ESPECIAIS,TAXA FIXA,...,Agropecuária,A0100000,"AGRICULTURA, PECUARIA E SERVICOS RELACIONADOS",AGROPECUÁRIA,AGROPECUÁRIA,MICRO,PRIVADA,BANCO REGIONAL DE DESENVOLVIMENTO DO EXTREMO SUL,92.816.560.0001-37,LIQUIDADA
4,BANCO REGIONAL DE DESENVOLVIMENTO DO EXTREMO SUL,**.*16.560/0001-**,RS,NOVO BARREIRO,4313490,2002-01-02,7000,"7000,0",RECURSOS VINCULADOS - FAT DEPÓSITOS ESPECIAIS,TAXA FIXA,...,Agropecuária,A0100000,"AGRICULTURA, PECUARIA E SERVICOS RELACIONADOS",AGROPECUÁRIA,AGROPECUÁRIA,MICRO,PRIVADA,BANCO REGIONAL DE DESENVOLVIMENTO DO EXTREMO SUL,92.816.560.0001-37,LIQUIDADA
6,BANCO REGIONAL DE DESENVOLVIMENTO DO EXTREMO SUL,**.*16.560/0001-**,RS,TAQUARUCU DO SUL,4321329,2002-01-02,1500,"1500,0",RECURSOS VINCULADOS - FAT DEPÓSITOS ESPECIAIS,TAXA FIXA,...,Agropecuária,A0100000,"AGRICULTURA, PECUARIA E SERVICOS RELACIONADOS",AGROPECUÁRIA,AGROPECUÁRIA,MICRO,PRIVADA,BANCO REGIONAL DE DESENVOLVIMENTO DO EXTREMO SUL,92.816.560.0001-37,ATIVA
8,BANCO REGIONAL DE DESENVOLVIMENTO DO EXTREMO SUL,**.*16.560/0001-**,RS,TAQUARUCU DO SUL,4321329,2002-01-02,1500,"1500,0",RECURSOS VINCULADOS - FAT DEPÓSITOS ESPECIAIS,TAXA FIXA,...,Agropecuária,A0100000,"AGRICULTURA, PECUARIA E SERVICOS RELACIONADOS",AGROPECUÁRIA,AGROPECUÁRIA,MICRO,PRIVADA,BANCO REGIONAL DE DESENVOLVIMENTO DO EXTREMO SUL,92.816.560.0001-37,ATIVA

In [80]:
df_dados['uf'].unique()

array([' RS', ' MS', ' MA', ' PR', ' SP', ' BA', ' MG', ' ES', ' RO',
       ' GO', ' RN', ' TO', ' PA', ' DF', ' CE', ' RJ', ' SC', ' PE',
       ' AL', ' PB', ' MT', ' AM', ' PI', ' AC', ' SE', ' RR', ' AP'],
      dtype=object)

In [81]:
df_dados['uf'].nunique()

27

In [82]:
#existe espaços em brancos dentro das aspas: ' MS'

In [83]:
#Arrumando os espaços em brancos com replace
df_dados['uf'] = df_dados['uf'].replace(' ', '')
df_dados['uf']

0           RS
1           RS
2           RS
3           RS
4           RS
          ...
2127440     MG
2127441     PR
2127442     PR
2127443     MT
2127444     RS
Name: uf, Length: 2127445, dtype: object

In [84]:
df_dados['uf'].unique()

array([' RS', ' MS', ' MA', ' PR', ' SP', ' BA', ' MG', ' ES', ' RO',
       ' GO', ' RN', ' TO', ' PA', ' DF', ' CE', ' RJ', ' SC', ' PE',
       ' AL', ' PB', ' MT', ' AM', ' PI', ' AC', ' SE', ' RR', ' AP'],
      dtype=object)

In [85]:
#como se nota, deu errado
#a sugestão feita é a de inserir antes do replace a expressão str.
df_dados['uf'] = df_dados['uf'].str.replace(' ', '')

In [86]:
df_dados['uf'].unique()

array(['RS', 'MS', 'MA', 'PR', 'SP', 'BA', 'MG', 'ES', 'RO', 'GO', 'RN',
       'TO', 'PA', 'DF', 'CE', 'RJ', 'SC', 'PE', 'AL', 'PB', 'MT', 'AM',
       'PI', 'AC', 'SE', 'RR', 'AP'], dtype=object)

In [87]:
#aplicando o str (indicando que a entrada é object), serviu para efetuar a alteração

In [88]:
#filtrando por meio de loc, todos os resultados de SP
df_dados_SP = df_dados.loc[df_dados['uf'] == 'SP']
df_dados_SP

,cliente,cpf_cnpj,uf,municipio,municipio_codigo,data_da_contratacao,valor_da_operacao_em_reais,valor_desembolsado_reais,fonte_de_recurso_desembolsos,custo_financeiro,...,subsetor_cnae_agrupado,subsetor_cnae_codigo,subsetor_cnae_nome,setor_bndes,subsetor_bndes,porte_do_cliente,natureza_do_cliente,instituicao_financeira_credenciada,cnpj_do_agente_financeiro,situacao_da_operacao
63,M M T LAVANDERIA S/S LTDA,**.*31.562/0001-**,SP,PRESIDENTE PRUDENTE,3541406,2002-01-02,107200,"107200,0",RECURSOS LIVRES - ORGANISMOS,TJLP,...,Outras ativ serviços,S9601700,"LAVANDERIAS, TINTURARIAS E TOALHEIROS",COMERCIO/SERVICOS,COMÉRCIO E SERVIÇOS,MICRO,PRIVADA,BANCO DO BRASIL SA,00.000.000.0001-91,LIQUIDADA
64,OLIVEIRA & SOUZA COMERCIO E LAVANDERIA EPP,**.*80.909/0001-**,SP,CAMPINAS,3509502,2002-01-02,107200,"107200,0",RECURSOS LIVRES - ORGANISMOS,TJLP,...,Outras ativ serviços,S9601700,"LAVANDERIAS, TINTURARIAS E TOALHEIROS",COMERCIO/SERVICOS,COMÉRCIO E SERVIÇOS,MICRO,PRIVADA,BANCO DO BRASIL SA,00.000.000.0001-91,LIQUIDADA
66,REPASSE SERV DE LAVANDERIA LTDA,**.*93.108/0001-**,SP,SAO PAULO,3550308,2002-01-02,107082,"107082,0",RECURSOS LIVRES - ORGANISMOS,TJLP,...,Outras ativ serviços,S9601700,"LAVANDERIAS, TINTURARIAS E TOALHEIROS",COMERCIO/SERVICOS,COMÉRCIO E SERVIÇOS,MICRO,PRIVADA,BANCO DO BRASIL SA,00.000.000.0001-91,LIQUIDADA
122,BANCO BRADESCO S.A.,**.*46.948/0001-**,SP,GUAIRA,3517406,2002-01-02,100000,"100000,0",RECURSOS LIVRES - TESOURO,TAXA FIXA,...,Agropecuária,A0119900,CULT PLANTAS LAVOURA TEMPORARIA NAO ESPECIFICA...,AGROPECUÁRIA,AGROPECUÁRIA,MICRO,PRIVADA,BANCO BRADESCO S.A.,60.746.948.0001-12,LIQUIDADA
123,BANCO COOPERATIVO SICOOB S.A.,**.*38.232/0001-**,SP,PEDREGULHO,3537008,2002-01-02,16000,"16000,0",RECURSOS LIVRES - TESOURO,TAXA FIXA,...,Agropecuária,A0119900,CULT PLANTAS LAVOURA TEMPORARIA NAO ESPECIFICA...,AGROPECUÁRIA,AGROPECUÁRIA,MICRO,PRIVADA,BANCO COOPERATIVO SICOOB S.A.,02.038.232.0001-64,LIQUIDADA
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2127397,AUTO POSTO CACIQUE II LTDA,**.*96.899/0001-**,SP,ARACATUBA,3502804,2022-06-30,699000,NaN,-,TAXA FIXA,...,Comércio,G4731800,COMERCIO VAREJISTA DE COMBUSTIVEIS PARA VEICUL...,COMERCIO/SERVICOS,COMÉRCIO E SERVIÇOS,MÉDIA,PRIVADA,BANCO VOLVO (BRASIL) S.A,58.017.179.0001-70,ATIVA
2127408,INDUSTRIAS ROMI S A,**.*20.428/0001-**,SP,GUARULHOS,3518800,2022-06-30,672000,NaN,-,TLP,...,Borracha e plástico,C2229399,FAB ARTEF MAT PLAST P/OUTRO USO NAO ESPECIFICA...,INDUSTRIA,OUTRAS,GRANDE,PRIVADA,BANCO SAFRA S A,58.160.789.0001-28,ATIVA
2127409,INDUSTRIAS ROMI S A,**.*20.428/0001-**,SP,BATATAIS,3505906,2022-06-30,318880,NaN,-,TLP,...,Máquinas e equipamentos,C2833000,FAB MAQ EQ P/AGRIC E PECUARIA PECA ACESS EXCET...,INDUSTRIA,MECÂNICA,GRANDE,PRIVADA,BANCO SAFRA S A,58.160.789.0001-28,ATIVA
2127410,INDUSTRIAS ROMI S A,**.*20.428/0001-**,SP,BATATAIS,3505906,2022-06-30,712000,NaN,-,TLP,...,Máquinas e equipamentos,C2833000,FAB MAQ EQ P/AGRIC E PECUARIA PECA ACESS EXCET...,INDUSTRIA,MECÂNICA,GRANDE,PRIVADA,BANCO SAFRA S A,58.160.789.0001-28,ATIVA
2127419,K.G.P. CONSTRUTORA LTDA,**.*23.465/0001-**,SP,BADY BASSITT,3504602,2022-06-30,284000,NaN,-,SELIC,...,Construção,F4211101,CONSTRUCAO DE RODOVIAS E FERROVIAS,COMERCIO/SERVICOS,COMÉRCIO E SERVIÇOS,MÉDIA,PRIVADA,ITAU UNIBANCO S.A.,60.701.190.0001-04,ATIVA

In [89]:
#usando loc para mostrar resultados de sp, com cliente, uf e municipio, usando o df_dados original.
df_dados.loc[ df_dados['uf'] == 'SP', ['cliente', 'uf', 'municipio']]
#uma forma de ler essa sintaxe: quero todas as entradas que tenham SP como UF, e que sejam upadas apenas as colunas cliente, uf e municipio

                                            cliente  uf            municipio
63                        M M T LAVANDERIA S/S LTDA  SP  PRESIDENTE PRUDENTE
64       OLIVEIRA & SOUZA COMERCIO E LAVANDERIA EPP  SP             CAMPINAS
66                  REPASSE SERV DE LAVANDERIA LTDA  SP            SAO PAULO
122                             BANCO BRADESCO S.A.  SP               GUAIRA
123                   BANCO COOPERATIVO SICOOB S.A.  SP           PEDREGULHO
...                                             ...  ..                  ...
2127397                  AUTO POSTO CACIQUE II LTDA  SP            ARACATUBA
2127408                         INDUSTRIAS ROMI S A  SP            GUARULHOS
2127409                         INDUSTRIAS ROMI S A  SP             BATATAIS
2127410                         INDUSTRIAS ROMI S A  SP             BATATAIS
2127419                     K.G.P. CONSTRUTORA LTDA  SP         BADY BASSITT

[441052 rows x 3 columns]

In [90]:
#especificando a linha e a coluna que se quer ver
df_dados.loc[2, 'valor_da_operacao_em_reais']

2975

In [91]:
df_dados.columns

Index(['cliente', 'cpf_cnpj', 'uf', 'municipio', 'municipio_codigo',
       'data_da_contratacao', 'valor_da_operacao_em_reais',
       'valor_desembolsado_reais', 'fonte_de_recurso_desembolsos',
       'custo_financeiro', 'juros', 'prazo_carencia_meses',
       'prazo_amortizacao_meses', 'modalidade_de_apoio', 'forma_de_apoio',
       'produto', 'instrumento_financeiro', 'inovacao', 'area_operacional',
       'setor_cnae', 'subsetor_cnae_agrupado', 'subsetor_cnae_codigo',
       'subsetor_cnae_nome', 'setor_bndes', 'subsetor_bndes',
       'porte_do_cliente', 'natureza_do_cliente',
       'instituicao_financeira_credenciada', 'cnpj_do_agente_financeiro',
       'situacao_da_operacao'],
      dtype='object')

In [92]:
df_dados['juros'] = df_dados['juros'].astype(str)

In [93]:
df_dados['juros'] = (df_dados['juros'].str.replace(',', '.'))

In [94]:
df_dados.fillna(0, inplace=True)

In [95]:
df_dados.isnull().sum()

cliente                               0
cpf_cnpj                              0
uf                                    0
municipio                             0
municipio_codigo                      0
data_da_contratacao                   0
valor_da_operacao_em_reais            0
valor_desembolsado_reais              0
fonte_de_recurso_desembolsos          0
custo_financeiro                      0
juros                                 0
prazo_carencia_meses                  0
prazo_amortizacao_meses               0
modalidade_de_apoio                   0
forma_de_apoio                        0
produto                               0
instrumento_financeiro                0
inovacao                              0
area_operacional                      0
setor_cnae                            0
subsetor_cnae_agrupado                0
subsetor_cnae_codigo                  0
subsetor_cnae_nome                    0
setor_bndes                           0
subsetor_bndes                        0
porte_do_cliente                      0
natureza_do_cliente                   0
instituicao_financeira_credenciada    0
cnpj_do_agente_financeiro             0
situacao_da_operacao                  0
dtype: int64

In [96]:
df_dados.isna().sum()

cliente                               0
cpf_cnpj                              0
uf                                    0
municipio                             0
municipio_codigo                      0
data_da_contratacao                   0
valor_da_operacao_em_reais            0
valor_desembolsado_reais              0
fonte_de_recurso_desembolsos          0
custo_financeiro                      0
juros                                 0
prazo_carencia_meses                  0
prazo_amortizacao_meses               0
modalidade_de_apoio                   0
forma_de_apoio                        0
produto                               0
instrumento_financeiro                0
inovacao                              0
area_operacional                      0
setor_cnae                            0
subsetor_cnae_agrupado                0
subsetor_cnae_codigo                  0
subsetor_cnae_nome                    0
setor_bndes                           0
subsetor_bndes                        0
porte_do_cliente                      0
natureza_do_cliente                   0
instituicao_financeira_credenciada    0
cnpj_do_agente_financeiro             0
situacao_da_operacao                  0
dtype: int64

In [97]:
df_dados['juros'] = df_dados['juros'].replace('nan', '0')

In [98]:
df_dados['juros'] = pd.to_numeric(df_dados['juros'])

In [99]:
df_dados.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2127445 entries, 0 to 2127444
Data columns (total 30 columns):
 #   Column                              Dtype
---  ------                              -----
 0   cliente                             object
 1   cpf_cnpj                            object
 2   uf                                  object
 3   municipio                           object
 4   municipio_codigo                    int64
 5   data_da_contratacao                 object
 6   valor_da_operacao_em_reais          int64
 7   valor_desembolsado_reais            object
 8   fonte_de_recurso_desembolsos        object
 9   custo_financeiro                    object
 10  juros                               float64
 11  prazo_carencia_meses                int64
 12  prazo_amortizacao_meses             int64
 13  modalidade_de_apoio                 object
 14  forma_de_apoio                      object
 15  produto                             object
 16  instrumento_financeiro              object
 17  inovacao                            object
 18  area_operacional                    object
 19  setor_cnae                          object
 20  subsetor_cnae_agrupado              object
 21  subsetor_cnae_codigo                object
 22  subsetor_cnae_nome                  object
 23  setor_bndes                         object
 24  subsetor_bndes                      object
 25  porte_do_cliente                    object
 26  natureza_do_cliente                 object
 27  instituicao_financeira_credenciada  object
 28  cnpj_do_agente_financeiro           object
 29  situacao_da_operacao                object
dtypes: float64(1), int64(4), object(25)
memory usage: 486.9+ MB

In [100]:
df_dados['valor_do_juros_em_reais'] = round(df_dados['valor_da_operacao_em_reais'] * (df_dados['juros'] / 100), 2)
df_dados

,cliente,cpf_cnpj,uf,municipio,municipio_codigo,data_da_contratacao,valor_da_operacao_em_reais,valor_desembolsado_reais,fonte_de_recurso_desembolsos,custo_financeiro,...,subsetor_cnae_codigo,subsetor_cnae_nome,setor_bndes,subsetor_bndes,porte_do_cliente,natureza_do_cliente,instituicao_financeira_credenciada,cnpj_do_agente_financeiro,situacao_da_operacao,valor_do_juros_em_reais
0,CISAM SILOS E ARMAZENS LTDA,**.*45.954/0001-**,RS,SANTA CRUZ DO SUL,4316808,2002-01-02,3274614,"3274614,0",RECURSOS LIVRES - ORGANISMOS,TJLP,...,H4900000,TRANSPORTE TERRESTRE,INFRA-ESTRUTURA,OUTROS TRANSPORTES,PEQUENA,PRIVADA,BANCO ITAUBANK S.A,60.394.079.0001-04,LIQUIDADA,196476.84
1,BANCO REGIONAL DE DESENVOLVIMENTO DO EXTREMO SUL,**.*16.560/0001-**,RS,RELVADO,4315453,2002-01-02,15000,"15000,0",RECURSOS VINCULADOS - FAT DEPÓSITOS ESPECIAIS,TAXA FIXA,...,A0100000,"AGRICULTURA, PECUARIA E SERVICOS RELACIONADOS",AGROPECUÁRIA,AGROPECUÁRIA,MICRO,PRIVADA,BANCO REGIONAL DE DESENVOLVIMENTO DO EXTREMO SUL,92.816.560.0001-37,LIQUIDADA,600.00
2,BANCO REGIONAL DE DESENVOLVIMENTO DO EXTREMO SUL,**.*16.560/0001-**,RS,ENTRE-IJUIS,4306932,2002-01-02,2975,"2975,0",RECURSOS VINCULADOS - FAT DEPÓSITOS ESPECIAIS,TAXA FIXA,...,A0100000,"AGRICULTURA, PECUARIA E SERVICOS RELACIONADOS",AGROPECUÁRIA,AGROPECUÁRIA,MICRO,PRIVADA,BANCO REGIONAL DE DESENVOLVIMENTO DO EXTREMO SUL,92.816.560.0001-37,LIQUIDADA,119.00
3,BANCO REGIONAL DE DESENVOLVIMENTO DO EXTREMO SUL,**.*16.560/0001-**,RS,MONTE BELO DO SUL,4312385,2002-01-02,15000,"15000,0",RECURSOS VINCULADOS - FAT DEPÓSITOS ESPECIAIS,TAXA FIXA,...,A0100000,"AGRICULTURA, PECUARIA E SERVICOS RELACIONADOS",AGROPECUÁRIA,AGROPECUÁRIA,MICRO,PRIVADA,BANCO REGIONAL DE DESENVOLVIMENTO DO EXTREMO SUL,92.816.560.0001-37,LIQUIDADA,600.00
4,BANCO REGIONAL DE DESENVOLVIMENTO DO EXTREMO SUL,**.*16.560/0001-**,RS,NOVO BARREIRO,4313490,2002-01-02,7000,"7000,0",RECURSOS VINCULADOS - FAT DEPÓSITOS ESPECIAIS,TAXA FIXA,...,A0100000,"AGRICULTURA, PECUARIA E SERVICOS RELACIONADOS",AGROPECUÁRIA,AGROPECUÁRIA,MICRO,PRIVADA,BANCO REGIONAL DE DESENVOLVIMENTO DO EXTREMO SUL,92.816.560.0001-37,LIQUIDADA,280.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2127440,FORTUCE & FORTUCE LTDA,**.*09.957/0001-**,MG,MIRAI,3142205,2022-06-30,1320000,0,-,TAXA FIXA,...,C2222600,FABRICACAO DE EMBALAGENS DE MATERIAL PLASTICO,INDUSTRIA,OUTRAS,MÉDIA,PRIVADA,BANCO BRADESCO S.A.,60.746.948.0001-12,ATIVA,212256.00
2127441,FRANCA & REMONATO LTDA,**.*40.611/0001-**,PR,DIAMANTE DO SUL,4107124,2022-06-30,50000,0,-,TAXA FIXA,...,G4771702,"COM VAREJ DE PRODUTOS FARMACEUTICOS, COM MANIP...",COMERCIO/SERVICOS,COMÉRCIO E SERVIÇOS,PEQUENA,PRIVADA,COOPERATIVA CENTRAL DE CREDITO COM INTERACAO S...,01.401.771.0001-53,ATIVA,9770.00
2127442,FRATUS & FRATUS TRANSPORTES LTDA - ME,**.*99.122/0001-**,PR,MARIALVA,4114807,2022-06-30,298910,0,-,TAXA FIXA,...,H4930202,TRANSP ROD CARGA EXC PROD PERIG MUDANCA INTER-...,INFRA-ESTRUTURA,TRANSPORTE RODOVIÁRIO,MÉDIA,PRIVADA,BANCO RANDON S/A,11.476.673.0001-39,ATIVA,51442.41
2127443,GENESIS BUS AGENCIA DE VIAGENS E TURISMO LTDA,**.*41.564/0001-**,MT,CUIABA,5103403,2022-06-30,656000,0,-,TAXA FIXA,...,H4922101,TRANSP RODOV COL PASSAG C/ITINERARIO FXO INTER...,INFRA-ESTRUTURA,TRANSPORTE RODOVIÁRIO,MÉDIA,PRIVADA,SCANIA BANCO S.A.,11.417.016.0001-10,ATIVA,108764.80
2127444,WILSON LUIZ BONALUME,**.*35.517/0001-**,RS,CAXIAS DO SUL,4305108,2022-06-30,30000,0,-,SELIC,...,I5611203,"LANCHONETES, CASAS DE CHA, DE SUCOS E SIMILARES",COMERCIO/SERVICOS,COMÉRCIO E SERVIÇOS,MICRO,PRIVADA,BADESUL DESENVOLVIMENTO S.A. - AGENCIA DE FOME...,02.885.855.0001-72,ATIVA,1515.00

In [101]:
df_dados.loc[ df_dados['uf']== "RS", ['valor_da_operacao_em_reais','valor_do_juros_em_reais']]

         valor_da_operacao_em_reais  valor_do_juros_em_reais
0                           3274614                196476.84
1                             15000                   600.00
2                              2975                   119.00
3                             15000                   600.00
4                              7000                   280.00
...                             ...                      ...
2127428                       30000                  1515.00
2127429                       80000                  4040.00
2127433                       10000                   505.00
2127439                       10000                   505.00
2127444                       30000                  1515.00

[299273 rows x 2 columns]

In [102]:
df_dados['valor_total_da_operacao_em_reais'] = df_dados['valor_da_operacao_em_reais'] + df_dados['valor_do_juros_em_reais']

In [103]:
df_dados['valor_total_da_operacao_em_reais']

0          3471090.84
1            15600.00
2             3094.00
3            15600.00
4             7280.00
              ...
2127440    1532256.00
2127441      59770.00
2127442     350352.41
2127443     764764.80
2127444      31515.00
Name: valor_total_da_operacao_em_reais, Length: 2127445, dtype: float64

In [104]:
#foi definido pela exclusão de colunas "valor_do_juros_em_reais" e "valor_total_da_operacao_em_reais"
#df_dados = df_dados.drop('valor_do_juros_em_reais', axis=1)
#df_dados = df_dados.drop('valor_total_da_operacao_em_reais', axis=1)

In [105]:
#para excluir uma linha ploe indice: df_dados.drop(0, axis=0)
#axis = 0 é linha
#axis = 1 é coluna

In [106]:
#para excluir linhas completamente vazias, ainda usa-se o dropna mas com o "how = all"
#df_dados.dropna( how = 'all')
#se for excluir colunas, o comando é parecido, mas tem que definir o eixo
#df_dados.dropna( how = 'all', axis=1)

In [107]:
#para excluir uma linha com valor ausente é o comando dropna
#df_dados.dropna()
#se não for possível excluir linha, o ideal é substituir a entrada sem numero por zero, por exemplo, pra isso usa-se fillna()
#df_dados.fillna(0)
#dentro dos parênteses, insere-se o valor que gostaria de ser jogado no dataframe. pode ser colocado tbem um mean, median,

In [111]:
df_dados_operacoes_uf = df_dados['uf'].value_counts()
df_dados_operacoes_uf

SP    441052
RS    299273
PR    281482
MG    236400
SC    224835
RJ     79951
GO     74048
BA     73773
ES     63038
MT     55176
PE     50025
CE     33670
MS     32917
PA     30138
MA     22589
RO     19771
TO     16841
DF     14642
AM     13724
PB     13415
RN     13145
AL     10025
PI      9886
SE      8638
AC      4559
AP      2372
RR      2060
Name: uf, dtype: int64

In [112]:
df_dados_valor_total = df_dados[['uf', 'valor_da_operacao_em_reais', 'valor_do_juros_em_reais', 'valor_total_da_operacao_em_reais']].groupby('uf').sum()
df_dados_valor_total

,valor_da_operacao_em_reais,valor_do_juros_em_reais,valor_total_da_operacao_em_reais
uf,,,
AC,785878498,4.804026e+07,8.339188e+08
AL,2273455247,1.323399e+08,2.405795e+09
AM,4569486471,2.471059e+08,4.816592e+09
AP,524177602,3.087895e+07,5.550565e+08
BA,19288719278,1.048254e+09,2.033697e+10
CE,8945074982,4.909794e+08,9.436054e+09
DF,4555092449,2.424472e+08,4.797540e+09
ES,13875736384,6.999189e+08,1.457566e+10
GO,19939855956,1.142682e+09,2.108254e+10
MA,5468138828,3.222098e+08,5.790349e+09
MG,67986009643,3.648878e+09,7.163489e+10
MS,9976797386,5.924930e+08,1.056929e+10
MT,18141798690,1.070726e+09,1.921252e+10
PA,8647791029,5.153277e+08,9.163119e+09
PB,2830272545,1.551648e+08,2.985437e+09
PE,12804168769,6.620298e+08,1.346620e+10
PI,2213343659,1.261959e+08,2.339540e+09
PR,69623136849,3.905047e+09,7.352818e+10
RJ,30907173377,1.590666e+09,3.249784e+10
RN,3062430899,1.742461e+08,3.236677e+09
RO,3803947295,2.106466e+08,4.014594e+09
RR,352205526,2.114856e+07,3.733541e+08
RS,56586757039,3.079989e+09,5.966675e+10
SC,51720716154,2.809906e+09,5.453062e+10
SE,2007332842,1.140261e+08,2.121359e+09
SP,165879747168,8.715548e+09,1.745953e+11
TO,5127039446,2.759265e+08,5.402966e+09

In [119]:
testemodelo = df_dados.groupby('uf').sum()[['valor_da_operacao_em_reais', 'valor_do_juros_em_reais', 'valor_total_da_operacao_em_reais']]
testemodelo

,valor_da_operacao_em_reais,valor_do_juros_em_reais,valor_total_da_operacao_em_reais
uf,,,
AC,785878498,4.804026e+07,8.339188e+08
AL,2273455247,1.323399e+08,2.405795e+09
AM,4569486471,2.471059e+08,4.816592e+09
AP,524177602,3.087895e+07,5.550565e+08
BA,19288719278,1.048254e+09,2.033697e+10
CE,8945074982,4.909794e+08,9.436054e+09
DF,4555092449,2.424472e+08,4.797540e+09
ES,13875736384,6.999189e+08,1.457566e+10
GO,19939855956,1.142682e+09,2.108254e+10
MA,5468138828,3.222098e+08,5.790349e+09
MG,67986009643,3.648878e+09,7.163489e+10
MS,9976797386,5.924930e+08,1.056929e+10
MT,18141798690,1.070726e+09,1.921252e+10
PA,8647791029,5.153277e+08,9.163119e+09
PB,2830272545,1.551648e+08,2.985437e+09
PE,12804168769,6.620298e+08,1.346620e+10
PI,2213343659,1.261959e+08,2.339540e+09
PR,69623136849,3.905047e+09,7.352818e+10
RJ,30907173377,1.590666e+09,3.249784e+10
RN,3062430899,1.742461e+08,3.236677e+09
RO,3803947295,2.106466e+08,4.014594e+09
RR,352205526,2.114856e+07,3.733541e+08
RS,56586757039,3.079989e+09,5.966675e+10
SC,51720716154,2.809906e+09,5.453062e+10
SE,2007332842,1.140261e+08,2.121359e+09
SP,165879747168,8.715548e+09,1.745953e+11
TO,5127039446,2.759265e+08,5.402966e+09

In [120]:
#teste esse modelo 1, porque a forma como o original foi feito agrupando foi diferente, mas como se nota, dá no mesmo.

In [126]:
media_operacao_estado = df_dados[['uf','valor_da_operacao_em_reais']].groupby('uf').mean()
media_operacao_estado

    valor_da_operacao_em_reais
uf
AC               172379.578416
AL               226778.578254
AM               332955.878097
AP               220985.498314
BA               261460.416114
CE               265668.992634
DF               311097.694919
ES               220117.014880
GO               269282.842967
MA               242070.867590
MG               287588.873278
MS               303089.509554
MT               328798.729339
PA               286939.777988
PB               210978.199404
PE               255955.397681
PI               223886.673983
PR               247344.898960
RJ               386576.445285
RN               232973.061925
RO               192400.348743
RR               170973.556311
RS               189080.729097
SC               230038.544506
SE               232383.982635
SP               376100.203985
TO               304437.945846

In [ ]:
# foi apresentado a expressão merge, que funciona parecido com um procv
#serve para mesclar dois datasets.
#df_dados = df_dados.merge(novodataframe)